{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" type="text/css" href="static/jeDate/skin/jedate.css">
{% endblock %}

{% block body %}
<div style="width: 600px;height: 100px;position: fixed;top: 20%;left: 50%;margin-left: -300px;margin-top: -50px;">
	<form id="form1">
		<label>
			开始时间
			<input type="text" name="start" id="startTime" value="">
		</label>
		<label>
			结束时间
			<input type="text" name="end" id="endTime" value="">
		</label>
		<input class="btn btn-primary" onclick="subtime()" value="确定">
		<input class="btn btn-primary" onclick="savelog()" value="保存日志">
	</form>
</div>
<div id="rules_log" style="width: 800px; height: 600px;position: fixed;top:25%;margin: auto; overflow-y:auto;border: solid 1px #2898E0;"></div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="static/jeDate/dist/jedate.min.js"></script>
<script>
	var strlog;
		$(document).ready(function () {
			jeDate('#startTime', {
				minDate: '1990-01-01',
				isinitVal: true,
				format: 'YYYY-MM-DD',
				onClose: false,
			});
			jeDate('#endTime', {
				minDate: '1990-01-01',
				isinitVal: true,
				format: 'YYYY-MM-DD',
				onClose: false
			});
			//判断是否为闰年 若为闰年，返回1，反之则返回0
			function isLeap(year) {
				if ((year % 4 == 0 && year % 100 != 0) || (year % 400 == 0)) {
					return 1;
				}
				return 0;
			}
		})
		function subtime() {
			$("#rules_log").html("")
			$.ajax({
				//几个参数需要注意一下
				type: 'GET',//方法类型
				dataType: 'text',//预期服务器返回的数据类型
				url: '/ruleslog/subtime',//url
				data: $('#form1').serialize(),
				success: function (result) {
					$("#rules_log").append(result)
					var loglist = result.split("<br/>");
					strlog = loglist.join("");
				},
				error: function () {
					alert("异常！");
				}
			});
	}
	function fakeClick(obj) {
		var ev = document.createEvent("MouseEvents");
		ev.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
		obj.dispatchEvent(ev);
	}
	function savelog() {
		var urlObject = window.URL || window.webkitURL || window;
		var export_blob = new Blob([strlog]);
		var save_link = document.createElementNS("http://www.w3.org/1999/xhtml", "a")
		save_link.href = urlObject.createObjectURL(export_blob);
		save_link.download = "rules.log";
		fakeClick(save_link);
	}
</script>
{% endblock %}
